.closing-container {
  display: flex;
  background: $white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1096px;
  margin: auto;

  .closing-header {
    font-size: 2.5em;

    @include mobile {
      font-size: 2em;
      margin: 0 auto;
    }

  }

  .closing-subheader {
    font-size: 1.188em;
    line-height: 1.5em;
    font-weight: 300;
    margin: 40px auto;
    width: 60%;
    text-align: center;

    @include mobile {
      width: 90%;
      font-size: 1em;
    }
  }

  .button-container {
    display: flex;
    flex-direction: row;
    .app-store {
      background-image: url('../images/appstore.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      background-color: transparent;
      height: 50px;
      width: 166.67px;
      margin-right: 20px;
      cursor: pointer;
      border-radius: 8px;

      @include tablet {
        height: 45px;
        width: 133.33px;
      }
    }

    .google-play {
      background-image: url('../images/googleplay.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      background-color: transparent;
      height: 50px;
      width: 166.67px;
      cursor: pointer;
      border-radius: 8px;

      @include tablet {
        height: 45px;
        width: 133.33px;
      }
    }
  }
}