.closing-container {
  display: flex;
  background: $white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1096px;
  margin: auto;

  .closing-header {
    font-size: 1.5em;
  }

  .closing-subheader {
    font-size: 1em;
    line-height: 1.5em;
    margin: 20px auto;
    width: 60%;
    text-align: center;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    .app-store {
      background-image: url('../images/appstore.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      background-color: transparent;
      height: 50px;
      width: 166.67px;
      margin-right: 20px;
      cursor: pointer;
      border-radius: 8px;

      @include tablet {
        height: 45px;
        width: 133.33px;
      }
    }

    .google-play {
      background-image: url('../images/googleplay.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      background-color: transparent;
      height: 50px;
      width: 166.67px;
      cursor: pointer;
      border-radius: 8px;

      @include tablet {
        height: 45px;
        width: 133.33px;
      }
    }
  }
}