.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 60vh;
  flex-direction: row;
  max-width: 1096px;
  margin: 0 auto 40px auto;

  @include mobile {
    margin-top: 10vh;
  }

  .box {
    flex: 1;
    margin-left: 15%;

    @include mobile {
      display: none;
    }
  }

  .feature-container {
    flex: 1;
    justify-content: center;
    margin-right: 15%;
    display: flex;
    flex-direction: column;

    @include tablet {
      margin-right: 10%;

      @include mobile {
        flex: none;
        max-width: 300px;
        margin: 0 auto;
        justify-content: flex-start;
      }
    }
  

    .feature-title {
      position: relative;
      font-weight: 600;
      font-size: 1.188em;
      margin-bottom: 10px;
      padding: 10px 0;
      
      .feature-line {
        position: absolute;
        top: 0;
        left: 0;
        width: 20%;
        background: $red;
        height: 4px;
        border-radius: 10px;

        @include mobile {
          left: 40%;
          top: 95%;
        }
      }

      @include mobile {
        text-align: center;
      }
    }
    .feature-content {
      line-height: 1.5em;
      font-weight: 200;

      @include mobile {
        text-align: center;
        font-size: 0.9em;
      }
    }
    .stars {
      font-size: x-large;
      color: #ffa500;
      margin-top: 10vh;

      @include mobile {
        text-align: center;
      }
    }

    .review-title {
      font-size: 1em;
      margin: 10px 0;

      @include mobile {
        text-align: center;
      }
    }
    .review {
      font-size: 0.9em;
      font-weight: 200;
      line-height: 1.3em;
      color: $gray;
      margin-bottom: 10px;

      .quote {
        font-size: 1.5em;
        opacity: 0.5;
        color: $gray;
        position: absolute;
      }

      @include mobile {
        text-align: center;
      }
    }
    .review-author {
      font-size: x-small;

      @include mobile {
        text-align: center;
      }
    }
  }

  .iphone {
    position: fixed;
    top: 50%;
    left: 23%;
    width: auto;
    height: 600px;
    margin-top: -300px;
    z-index: -2;
    background-size: auto 572px;
    background-repeat: no-repeat;
    background-position: center;
    
    @include tablet {

      @include mobile {
        height: 70%;
        top: 85%;
        z-index: 1000;
        width: auto;
        margin-right: calc(width/2);
        background-size: auto 95%;
        transition: height 0.2s;
      }
    }
  
  }
}