.hero-container {
  height: 100vh;
  display: flex;
  background-image: url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .content-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;

    @include tablet {
      width: 80%;
      text-align: center;
      margin: -50% 10% 0 10%;
    }

    .header {
      font-size: 4.5em;
      color: #fff;
    }
    .subtitle {
      font-size: 1.188em;
      color: #fff;
      line-height: 1.6em;
      margin: 20px 0 40px 0;
    }
    .button-container {
      
    }
  }
  
}