.hero-container {
  height: 100vh;
  display: flex;
  background-image: url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .content-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20.5%;

    @include tablet {
      width: 80%;
      text-align: center;
      margin: -50% 10% 0 10%;
    }

    .header {
      font-size: 4.5em;
      color: #fff;
    }
    .subtitle {
      font-size: 1.188em;
      color: #fff;
      line-height: 1.6em;
      margin: 20px 0 40px 0;
    }
    .button-container {

      .app-store {
        background-image: url('../images/appstore.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        background-color: transparent;
        height: 60px;
        width: 200px;
        margin-right: 20px;
        cursor: pointer;
      }

      .google-play {
        background-image: url('../images/googleplay.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        background-color: transparent;
        height: 60px;
        width: 200px;
        cursor: pointer;
      }
    }

  }
  
}