.hero-container {
  height: 100vh;
  display: flex;
  background-image: url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @include mobile {
    background-attachment: scroll;
  }

  .width-container {
    max-width: 1096px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto 0 auto;
    z-index: 1000;

    @include mobile {
      flex-direction: column;
      justify-content: flex-start;
      margin: 0 auto;
    }

    .hero-iphone {
      position: relative;
      width: auto;
      height: 600px;
      z-index: 50;
      background-image: url('../images/img-1.png');
      background-size: auto 572px;
      background-repeat: no-repeat;
      background-position: center;

      @include mobile {
        top: 85%;
        left: 50%;
        margin-left: -147.69px;
        position: fixed;
        margin-top: -300px;
        z-index: 0;
        transition: height 0.2s;
      }
    }
    
    .hero-content-container {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;

        @include mobile {
          margin-top: 60px;
          width: 90%;
          height: calc(100% - 520px);
          align-items: center;
        }

      .header {
        font-size: 3.5em;
        color: $white;

        @include tablet {
          font-size: 3em;

          @include mobile {
            font-size: 1.5em;
            margin: 10px auto 0 auto; 
          }
        }
      }
      .subtitle {
        font-size: 1.188em;
        color: $white;
        line-height: 1.6em;
        margin: 20px 0 40px 0;
        font-weight: 300;

        @include tablet {
          font-size: 1em;
          line-height: 1.4em;

          @include mobile {
            margin: 10px 0 20px 0;
            font-weight: 300;
            font-size: 0.9em;
          }
        }
      }
      .button-container {
        display: flex;
        flex-direction: row;
        .app-store {
          background-image: url('../images/appstore.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border: none;
          background-color: transparent;
          height: 50px;
          width: 166.67px;
          margin-right: 20px;
          cursor: pointer;
          border-radius: 8px;

          @include tablet {
            height: 45px;
            width: 133.33px;
          }
        }

        .google-play {
          background-image: url('../images/googleplay.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border: none;
          background-color: transparent;
          height: 50px;
          width: 166.67px;
          cursor: pointer;
          border-radius: 8px;

          @include tablet {
            height: 45px;
            width: 133.33px;
          }
        }
      }

    }
  }
  
}