.iphone {
  z-index: -10;
  background-image: url('../images/img-0.png');
  background-size: auto 572px;
  background-repeat: no-repeat;
  background-position: center;

  @include tablet {
    top: 73%;
    left: 50%;
    margin-left: -147.69px;
  }
}


