.reviews-container {
  max-width: 1096px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding-bottom: 100px;
  position: relative;

  .review-header {
    position: absolute;
    font-size: 2.5em;
    text-align: center;
    margin-top: -60px;

    @include mobile {
      font-size: 2em;
    }
  }

  .single-review {
    width: 40%;
    padding: 20px 20px 40px 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    position: relative;

    .quote {
      position: absolute;
      left: -30px;
      top: 0;
      font-size: 220px;
      color: $red;
      z-index: -1;
      opacity: 0.07;
      font-style: italic;

      @include mobile {
        left: -15px;
        font-size: 200px;
      }
    }

    @include mobile {
      width: 90%;
      margin: 0 auto;
      font-size: .9em;
    }

    .stars {
      color: #ffa500;
      font-size: 2em;
    }

    .review-title {
      font-size: 1.188em;
      font-weight: 600;
      margin: 10px 0;
    }

    .review-author {
      font-size: smaller;
      color: $lightGray;
      margin-top: 10px;
    }

    .review-content {
      font-size: 1em;
      line-height: 1.5em;
      color: $gray;
    }
  }
}